###
# Needed environment variables
###

S3_BUCKET_NAME=my-bucket-name
S3_ACCESS_KEY_ID=my-iam-access-key
S3_SECRET_ACCESS_KEY=my-iam-secret-key

BASE_URL=http://app.archive.intranet.docker

# This can be generated with the following command:
# node -e "console.log(require('crypto').randomBytes(32).toString('hex'))"
EXPRESS_SESSION_SECRET=""

# Entra API - see readme for more info.
OAUTH_SKIP_AUTH=true
OAUTH_CLIENT_ID=""
OAUTH_TENANT_ID=""
OAUTH_CLIENT_SECRET=""
